:root {
  background-color: var(--coral);
  --blanco: #f3ece9;
  --coral: #c7b7a6;
  --dawn: #b4a99c;
  --soya: #6a6052;
  --mocha: #3f3a34;
  --onyx: #161513;
  --momenceColorBackground: #f3ece9;
  --momenceColorPrimary: 63, 58, 52;
  --momenceColorBlack: 22, 21, 19;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
